/* General*/
.haiviz-row {
  padding: 20px;
}

.haiviz-img-responsive {
  width: 100%;
  height: auto;
}

/* Side menu */
#haiviz-side-menu {
  background-color: #333;
  padding: 20px 0 0 0;
  min-height: 85vh;
}

.haiviz-menu-icon {
  background-color: none;
  width: 50px;
  height: 50px;
  margin: 5px auto;
  text-align: center;
}

.haiviz-button-icon {
  border: none;
  background-color: #333;
  width: 50px;
}

/*  Dashboard */
#haiviz-side-dashboard {
  background-color: #fff;
  padding: 0 10px;
}

/*  Input title and text */
#inputfiles-header {
  background-color: white;
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin: 40px 0;
}

#inputfiles-buttons {
  background-color: white;
  text-align: center;
}

.input-button {
  height: auto;
  text-align: center;
  background-color: none;
}

.input_card {
  margin-top: 10px
}