#page-documentation {
  margin: 20px 0;
  background-color: white;
}

.haiviz-docs-content {
  width:80%;
  margin: auto;
}

#haiviz-docs-pdf {
  width:fit-content;
  border: 1px solid #a0a0a0;
  padding: 5px;
}
