#phylotree-zoomButton-container {
  position: absolute;
  width: 50px;
  height: 150px;
  margin: 10px 0 0 10px;
  z-index: 2;
}
#phylotree-zoomIn {
  background-color: #ccc;
  margin-bottom: 2px;
}
#phylotree-zoomOut {
  background-color: #ccc;
  margin-bottom: 7px;
}
#phylotree-setting {
  background-color: #1eb776;
  color: white;
}
#phylotree-clearSelection {
  background-color: #1eb776;
  margin: 2px 0;
  color: white;
  border-color: #1eb776;
}
#phylotree-downloadSVG {
  background-color: #1eb776;
  margin-top: 5px;
  color: white;
  border-color: #1eb776;
}
.phylocanvas-tooltip {
  background-color: #1eb776;
}
