.input-placeholder-card {
  width: 250px;
}

#carousel-placeholder {
  text-align: center;
}

#content-header-row {
  background: url("../img/bg_content_header.png") no-repeat fixed center,
    linear-gradient(122deg,
      rgb(126, 221, 255) 15%,
      rgb(68, 97, 212) 100%);
}

#content-header {
  font-family: "Nunito", sans-serif;
  margin: auto;
  padding: 50px;
  text-align: center;
  color: white;
}

#content-showcase-row {
  background-color: white;
}

#content-showcase {
  margin: auto;
  padding: 50px;
  text-align: center;
}

#carousel-container {
  background-color: lightgray;
  height: 200px;
  width: 100%;
}

#showcase-buttons {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 100%;
}

.showcase-meta-desc {
  height: 100px;
  overflow: auto;
  scrollbar-width: none;
}

/*
background-color: #1eb776;
background: #1eb776 url("../img/bg_dummy.jpg") no-repeat fixed center;
*/