#colorscale-buttons-container {
  padding: 0px 20px;
}
#colorscale-grayAll {
  margin: 0 1px;
  background-color: lightgray;
}

#colorscale-resetColor {
  margin: 0 1px;
}

#color-picker-container {
  position: absolute;
  zindex: 2;
}

#color-picker-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
